@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@font-face {
    font-family: "CoreSans65Bold";
    src: url("../fonts/CoreSansA65Bold.otf");
    }

body{
    background-image: url(../img/bg_chloe.png)
}

#content{
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: minmax(0px, auto);
    max-width: 1600px;
    margin: 0 auto;
    font-family: CoreSans65Bold;
    border-radius: 25px;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "main"
    "footer";
}
#content > *{
    padding: 10px;
}

main{
    color: white;
}

/* Top link */
.main{
    grid-area: header;
    text-align: center;
    background-color: palevioletred;
}

a.mainRepo:hover{
    text-decoration: none;
    text-shadow: 3px 3px violet;
}

a.mainRepo:visited{
    text-decoration: none;
}

a.mainRepo:hover{
    text-decoration: none;
}

a.mainRepo:active{
    text-decoration: none;
}

/* Coloring the background for every section */

.HTML{
    background-color: rgb(21, 102, 223);
    text-align: center;
}

/* Titles for top row */
.title{
    grid-area: nav;
    align-self: center;
    font-size: 32px;
    line-height: 28px;
    vertical-align: middle;
    color: white;
}

a.mainRepo:hover{
    text-decoration: none;
    text-shadow: 3px 3px violet;
}

a.mainRepo:visited{
    text-decoration: none;
}

a.mainRepo:hover{
    text-decoration: none;
}

a.mainRepo:active{
    text-decoration: none;
}


.titleHTML{
    text-shadow: 2px 2px blue;
}

a.title:link{
    text-decoration: none;
}

a.titleHTML:hover{
    text-decoration: none;
    text-shadow: 3.5px 3.5px rgb(4, 4, 219); /* Slightly higher because it's hard to spot otherwise */
}

a.title:visited{
    text-decoration: none;
}

a.title:hover{
    text-decoration: none;
}

a.title:active{
    text-decoration: none;
}


/* Assignments */

.assign{
    grid-area: main;
    color: white;
}

a.assign:link{
    text-decoration: none;
}

a.assign:visited{
    text-decoration: none;
}

a.assign:hover{
    text-decoration: none;
}

a.assignHTML:hover{
    text-decoration: none;
    text-shadow: 2px 2px rgb(4, 4, 219); /* Slightly higher because it's hard to spot otherwise */
}

a.assignEnvironment:hover{
    text-decoration: none;
    text-shadow: 2px 2px black;
}

/* Go Back Link */

.goBack{
    grid-area: nav;
    align-self: center;
    font-size: 16px;
    line-height: 28px;
    vertical-align: middle;
    color: white;
}

a.goBack:link{
    text-decoration: none;
}

a.goBack:hover{
    text-decoration: none;
    text-shadow: 3px 3px violet;
}

a.goBack:visited{
    text-decoration: none;
}

a.goBack:active{
    text-decoration: none;
}